/* The progress container (grey background) */
#progress-container {
  position: relative;
  width: 100%;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
#progress-bar {
  height: 1vh;
  background: #fc5457;
  width: 0%;
}

/* Navbar links */
.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  font-size: 1.5rem;
  margin: auto;
}

/* highlight when section active */
[data-aos="about-highlight"] {
  color: #ffffff;
  transition-property: color;
}
[data-aos="about-highlight"].aos-animate {
  color: #fc5457;
}

.nav-container {
  height: 8vh;
  min-height: 2.5rem;
  background-color: #4c4c4c;
  box-shadow: 0px 1.25vh 1vh rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar {
  height: 8vh;
  min-height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#nav-filler {
  flex-grow: 1;
}
