.App {
  text-align: center;
  background-color: rgb(42, 42, 42);
}

html,
body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

/* The progress container (grey background) */
#progress-container {
  position: relative;
  width: 100%;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
#progress-bar {
  height: 1vh;
  background: #fc5457;
  width: 0%;
}

/* Navbar links */
.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar a:hover {
  color: #fc5457;
  text-align: center;
  padding: 0.7rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-container {
  height: 8vh;
  min-height: 2.5rem;
  background-color: #4c4c4c;
  box-shadow: 0px 1.25vh 1vh rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.navbar {
  height: 8vh;
  min-height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#nav-filler {
  flex-grow: 1;
}
